@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager

@if (!User.Identity.IsAuthenticated)
{
<a style="background-color:darkred" class="btn btn-outline white my-2 my-sm-0" asp-controller="Account" asp-action="Login">
    <i class="bi bi-box-arrow-in-right"></i> Log in
</a>
                <span style="padding: 5px;"></span>

                                <a style="background-color:darkred" class="btn btn-outline white my-2 my-sm-0" asp-controller="Account" asp-action="Register">
                                    <i class="bi bi-person-plus"></i> Register
                                </a> }
                            else
                            { @*User profile section*@
                                            <a style="background-color:darkred;margin-right:10px;color:white" class="btn btn-outline white my-2 my-sm-0" asp-area="Admin"  asp-controller="Account" asp-action="Register" >
                                                <i class="bi bi-person-plus"></i> Create Admin
                                            </a>
                                                            <div class="dropdown">
                                                                <button style="background-color:darkred;color:white" class="btn btn-outline white dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown"
                                                                        aria-expanded="false">
                                                                    <i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)
                                                                </button>
                                                                <ul class="dropdown-menu" aria-labelledby="profile-btn">
                                                                    <li>
                                                                        <a  style="color:darkred"; class="dropdown-item" asp-controller="Orders" asp-action="Index">
                                                                            <i  style="color:darkred;" class="bi bi-list"></i> Orders
                                                                        </a>
                                                                    </li>

                                                                    @if (User.IsInRole("Admin") || User.IsInRole("Super"))
                                                                    {
                                                    <li>
                                                        <a style="color:darkred"; class="dropdown-item" asp-controller="Account" asp-action="Users">
                                                            <i style="color:darkred;"  class="bi bi-people"></i> Users
                                                        </a>
                                                    </li>}
                                                                </ul>
                                                            </div>
                                                                            <span style="padding: 5px;"></span>
                                                                                            <form asp-controller="Account" asp-action="Logout">
                                                                                                <button class="btn btn-outline-danger my-2 my-sm-0">
                                                                                                    <i class="bi bi-box-arrow-in-right"></i> Log out
                                                                                                </button>
                                                                                            </form>}

