<div  >
    <div class="col-md-6 offset-3 alert alert-info text-center"  style="background: rgb(217,194,220); background: radial-gradient(circle, rgba(217,194,220,0.6113795860140931) 0%, rgba(204,36,225,0.7318277652858018) 98%);">
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div> 