@if (TempData["Success"] != null)
{
    <div class="alert alert-success notification">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger notification">
        @TempData["Error"]
    </div>
}
<div>
    <div class="col-md-6 offset-3 alert alert-info text-center" style="background: radial-gradient(circle, rgba(0,233,46,0) 0%, rgba(0,152,164,1) 98%);">
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>
@if (TempData["order"] != null)
{
<div>
    <div class="col-md-6 offset-3 alert alert-info text-center" style="background: radial-gradient(circle, rgba(0,233,46,0) 0%, rgba(0,152,164,1) 98%);">
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
    @TempData["order"]

</div>
}