<div class="row" style="margin-top:100px">
    <div class="col-md-6 offset-3" style="background-color:darkred;color:white;">
        <h1>Not Found</h1>
        <hr />
        <a style="background-color:darkred;color:white;" class="btn" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>